<div class="background-image"></div>
<div class="content-wrapper">
    <div class="header">
        <div class="list-selector">
            <div class="selector">Movies</div>
            <div class="selector">TV Shows</div>
        </div>
        <img src="/assets/MDB-logo.png" class="logo-image">
    </div>
    <div class="search-container">
        <div class="search-box">
            <img src="/assets/search.png" class="search-icon">
            <input type="text" placeholder="Search movies or TV shows" class="search-input">
        </div>
    </div>
</div>